@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Администрирование - Вся еда";
    ViewBag.Menu = "foods";
    ViewBag.Active = "all";
}

@*@Html.Partial("../Partial/FoodMenu")*@

<div id="foods">
    @*TODO: нужна ли возможность выбора категории? Если да, сделать +3 вьюшки*@
    @if (ViewBag.Foods != null)
    {
        <div class="items">
            <div class="container">
                @{ 
                    var rowsCount = ViewBag.FoodsCount / 4;
                    rowsCount = ((rowsCount % 4) != 0) ? rowsCount + 1 : rowsCount;

                    var from = 0;
                }
                @for (int i = 0; i < rowsCount; ++i)
                {
                    var to = ((from + 4) > ViewBag.FoodsCount) ? ViewBag.FoodsCount : from + 4;
                    <div class="items-sec">
                    @for (int j = from; j < to; ++j)
                    {
                        var food = ViewBag.Foods[j];
                        <div class="col-md-3 feature-grid">
                            <a href="/Home/Index/@food.Id">
                                <img src="@food.Image" alt="" />
                            </a>

                            <div class="arrival-info">
                                <input type="hidden" value="@food.Id" name="id" />
                                <h4><a href="/Home/Index/@food.Id">@food.Name</a></h4>
                                <p>@food.Price BYR</p>
                                <span class="pric1">@food.Weight г.</span><br />
                                <a href="/Foods/ChangeFood/@food.Id" name="changeFood" class="item_add items food-btn">Изменить</a>
                                <a href="/Foods/DeleteFood/@food.Id" name="deleteFood" class="item_add items food-btn">Удалить</a>
                            </div>
                            <div class="viw">
                                <a href="/Home/Index/@food.Id">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    }
                    @{ from += 4; }
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="product">
            <div class="container">
                <div class="product-price1">
                    <input type="hidden" value="@ViewBag.SingleFood.Id" name="id" />
                    <div class="top-sing">
                        <div class="col-md-5 single-top">
                            <div class="flexslider">
                                <img src="@ViewBag.SingleFood.Image" />
                            </div>
                        </div>
                        <div class="col-md-7 single-top-in simpleCart_shelfItem">
                            <div class="single-para ">
                                <h4>@ViewBag.SingleFood.Name</h4>
                                <h5 class="item_price">@ViewBag.SingleFood.Price BYR</h5>
                                <p class="para">@ViewBag.SingleFood.Description</p>
                                <div class="prdt-info-grid">
                                    <p>@ViewBag.SingleFood.Weight г.</p>
                                </div>
                                <div class="check">
                                    <input type="number" min="1" max="10" class="item_quantity" value="1" name="count" />
                                    <input type="button" class="item_add items add-to-cart" value="Добавить">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>